# Place the bot token here
APP_TOKEN = "XXXXXXX"

# This is the magic word for admin authorization
MAGIC_WORD = "SecretWord"

# Time to keep admin authorized
AUTH_TTL = 3600

# Add IDs of the superusers to passwordless access
SUPERUSER_ID = []

# Path to openvpn keys
KEYS_PATH = "/path/to/ovpn/files/"

# Path to the installation script
SCRIPT = "/path/to/installation/script/openvpn-install.sh"
